.outer {
  height: 300px;
  width: 300px;
  border: 0px solid #000;
}
.inner {
  height: 100px;
  width: 100px;
  margin: 100px;
  background: white;
}
img {
  height: auto;
  width: 400px;
  display: none
}
.inner:hover img {
  display: block;
}
