.outer {
  height: 900px;
  width: 900px;
  border: 1px solid #000;
}
.inner {
  height: 100px;
  width: 100px;
  margin: 100px;
  background: white;
}
img {
  height: 900px;
  width: 900px;
  display: none
}
.inner:hover img {
  display: block;
}
